{% extends 'base.html' %}

{% block content %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create article
    </button>

    {% if article_add_status %}
        <p style="color:red">Article was created</p>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Create date</th>
                <th scope="col">Title</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            {% if articles %}
                {% for i in articles %}
                    <tr>
                        <th scope="row">{{ i.pk }}</th>
                        <td>{{ i.create_date | date:'d.m.Y' }}</td>
                        <td>{{ i.title }}</td>
                        <td>
                            <a href="{% url 'article-edit' i.pk %}">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'article-delete' i.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>There are no one article</p>
            {% endif %}


        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" id="article_add_form" method="post" >
                        {% csrf_token %}
                        {{ form }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button form="article_add_form" type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}